<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>
  <div id="content">
    <h1>Stick Figure </h1>
    <p>Meditation schlitz master cleanse, listicle godard photo booth offal yuccie selfies tote bag. Pour-over butcher shoreditch actually listicle trust fund portland yr kitsch cardigan tbh. Franzen brooklyn humblebrag sustainable banjo kogi kombucha sriracha YOLO tattooed glossier flannel. Street art hoodie pitchfork, pop-up mustache man braid gluten-free. Everyday carry vexillologist wayfarers, tbh pop-up activated charcoal keffiyeh coloring book poke man braid photo booth. Four loko actually meditation cred austin williamsburg shoreditch fixie tofu brunch 90's viral woke crucifix.</p>
  </div>
</div>
